{config_load file="ru/install/install.conf"}
{include file='install/header.html'}
<center>
{if $error eq "not_all_data"}
<br>&nbsp;<img src="../{#bgimage17#}" border="0" alt=""> <span class="textbig">{#_INSTALLNOTALLDATA#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "no_lang"}
<br>&nbsp;<img src="../{#bgimage17#}" border="0" alt=""> <span class="textbig">{#_INSTALLNOTFOUNDLANG#}</span><br><br>
{if isset($notfindlangvalue)}<span class="errorsmall"> {$notfindlangvalue}</span>{/if}<br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "not_connect"}
<br>&nbsp;<img src="../{#bgimage17#}" border="0" alt=""> <span class="textbig">{#_INSTALLNOTCONNECT#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "insert_error"}
<br><img src="../{#bgimage26#}" border="0" alt="">&nbsp;<span class="errorbig">{#_INSTALL_ERROR#}</span><br><br><span class="textbig">{#_INSTALLERROR#}</span><br><br>
{foreach $error_mess as $error}
{if $error.message ne "" and $error.code ne ""}<span class="errorsmall">{$error.message}<br>{$error.code}</span><br>{/if}
{/foreach}
<br><a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "insert_error2"}
<br><img src="../{#bgimage26#}" border="0" alt="">&nbsp;<span class="errorbig">{#_INSTALL_ERROR#}</span><br><br><span class="textbig">{#_INSTALLERROR2#}</span><br><br>
{foreach $error_mess as $error}
{if $error.message ne "" and $error.code ne ""}<span class="errorsmall">{$error.message}<br>{$error.code}</span><br>{/if}
{/foreach}
<br><a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "no_write"}
<br><img src="../{#bgimage26#}" border="0" alt="">&nbsp;<span class="errorbig">{#_INSTALL_ERROR#}</span><br><br>
<span class="textbig">{#_INSTALLCANTWRITE#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "not_eq_pass"}
<br>&nbsp;<img src="../{#bgimage17#}" border="0" alt=""> <span class="textbig">{#_INSTALLNOTEQPASS#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "error_login"}
<br>&nbsp;<img src="../{#bgimage17#}" border="0" alt=""> <span class="textbig">{#_INSTALLERRORLOGIN#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{elseif $error eq "add_ok"}
<br><img src="../{#bgimage29#}" border="0" alt="">&nbsp;<span class="textbig">{#_INSTALLCONPLETEOK2#}</span><br>
{elseif $error eq "not_correct_email"}
<br><img src="../{#bgimage17#}" border="0" alt="">&nbsp;<span class="textbig">{#_INSTALLNOTCORRECTEMAIL#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_INSTALLBACK#}</a>
{/if}
</center><br>
{include file='install/footer.html'}