{config_load file="ru/install/install.conf"}
{include file='install/header.html'}
<center><span class="title">{#_INSTALLWELCOME#}"SystemDK"</span></center><br>
<center><img src="../{#bgimage18#}" border="0" alt=""><span class="title">{#_INSTALLTITLEMAIN#}</span></center><br>
&nbsp;&nbsp;<img src="../{#bgimage17#}" border="0" alt=""> <span class="textbig">{#_INSTALLTITLE1NOTES#}</span><br><br>
<center><img src="../{#bgimage18#}" border="0" alt=""><span class="title">{#_INSTALLTITLELICENSE#}</span><br><br>
<textarea cols="90" rows="25" class="formenter">
SystemDK – Система управления содержимым (Content Management System)

Предмет лицензионного соглашения
Предметом настоящего лицензионного соглашения является право использования одного экземпляра программного продукта SystemDK CMS, в порядке и на условиях, установленных настоящим соглашением.

Лицензия
SystemDK CMS предоставляет Вам возможность использования полученного Вами программного продукта SystemDK CMS, в случае полного соблюдения обязательств и следования всем правилам и условиям, оговоренным данным соглашением.

Исключения
В поставляемом архиве системы находятся скрипты, на которые не распространяется лицензия SystemDK CMS. Данные скрипты предоставляются Вам бесплатно и распространяются в соответствии с их лицензией.
К данной категории скриптов относятся:
- Шаблонизатор - Smarty (http://smarty.net)
- Библиотека абстрактных классов - ADODB (http://adodb.sourceforge.net)
- Визуальный html редактор - CKEditor (http://www.ckeditor.com)
- Файловый менеджер для визуального редактора - djenx-explorer (http://demphest.ru)
- Аудио/видео проигрыватель - FlowPlayer (http://flowplayer.org)
- bxSlider (http://bxslider.com/)
- Magnific Popup (http://dimsemenov.com/plugins/magnific-popup/)
- Multiselect (http://mind2soft.com/labs/jquery/multiselect/)

Права и обязанности сторон
Пользователь имеет право:
- Изменять дизайн и структуру программного продукта в соответствии с нуждами своего сайта.
- Производить и распространять инструкции по созданным Вами модификациям пакетов стилей и языков, если в них будет иметься указание на оригинального разработчика программного продукта до Ваших модификаций. Модификации, произведенные Вами самостоятельно, не являются собственностью SystemDK CMS, если не содержат наши программные коды.
- Создавать, распространять и взимать плату за разработку скриптов(модулей, блоков и т.д.), которые будут взаимодействовать с нашими программными кодами, с указанием на то, что это Ваш оригинальный продукт.
- Изменять программный код продуктов, не принадлежащих авторам системы, но поставляемых в базовом пакете, в соответствии с их лицензией.

Пользователь не имеет право:
- Передавать права на использование программного продукта третьим лицам, кроме случаев, перечисленных выше в нашем соглашении.
- Изменять структуру программных кодов, функции программы или создавать родственные продукты, базирующиеся на нашем программном коде, либо использовать наш программный продукт вне Вашего сайта, за исключением случаев, когда Вы создаете скрипт к данному программному продукту, описанный выше в нашем соглашении.
- Вы не можете использовать наш программный продукт, чтобы создавать или поддерживать террористические сети, рекламировать, продавать или сопровождать пиратские копии нашего программного продукта или производить любые другие формы незаконной деятельности с использованием нашей интеллектуальной собственности.
- Изменять или удалять ссылки на наш копирайт или ссылки на наш программный продукт со страниц Вашего сайта.
- Распространять, продавать,  наш продукт самостоятельно, без нашего согласия.
- Распространять файлы (копии файлов), графические элементы, библиотеки, программные коды или другие компоненты системы, включенные в наш программный продукт.

Расторжение гарантийных обязательств
Наш программный продукт распространяется в соответствии с условием «AS IS» (Как есть), без гарантий, включая отсутствие ограничения гарантий на продажу, приобретение частей или целого, не сертифицированного продукта. Весь риск за совершение данной сделки по отношению к качеству продукта ложится на Вас. В дополнение мы хотим отметить, что механизмы безопасности, установленные на наши программные продукты, имеют известные ограничения, и Вы должны быть ознакомлены с отсутствием абсолютных гарантий взлома вашего сайта хакерами. Этот отказ от гарантий является неотъемлемой частью данного лицензионного соглашения.

Заголовки
Программный продукт защищен законом об авторских правах. Ваши собственные заголовки и статьи, любые публикуемые оригинальные материалы и связанные с этим права на них, так же как и материалы, создаваемые в результате использования нашего программного продукта, являются собственность пользователя и защищены законом. Мы не несем никакой ответственности за содержание Ваших сайтов.

Расторжение договора
Данное соглашение расторгается автоматически, если Вы отказываетесь выполнять условия нашего договора. После расторжения договора Вы обязуетесь уничтожить все Ваши копии нашего программного продукта.

Содержание договора
Мы оставляем за собой право публиковать списки избранных пользователей своих программных продуктов. Мы оставляем за собой право в любое время изменять условия данного договора, но данные действия не имеют и не будут иметь обратной силы. Изменения данного договора могут быть разосланы пользователям по электронной почте на адреса, указанные при оформлении лицензии на использование нашего программного продукта. Отсутствие у пользователей уведомления не может являться причиной невыполнения изменившихся условий использования наших программных продуктов.

Наши гарантии и техническая поддержка не распространяются на модификации, произведенные третьей стороной, включая изменения программного кода, стиля, языковых пакетов, а также на изменения перечисленных частей, внесенные владельцем лицензии самостоятельно. Если программный продукт изменен Вами или третьей стороной, то мы вправе отказать Вам в технической поддержке.
</textarea><br><br>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="right">
<form action="index.php" method="POST"><input type="hidden" name="func" value="step2"><input type="submit" value="{#_INSTALLBUTTONYES#}" class="button"></form>
</td>
<td align="left">
<form action="index.php" method="POST"><input type="hidden" name="func" value="funcexit"><input type="submit" value="{#_INSTALLBUTTONNO#}" class="button"></form>
</td>
</tr>
</table>
</center>
{include file='install/footer.html'}