{config_load file="ru/install/install.conf"}
{include file='install/header.html'}
<br><center><img src="../{#bgimage18#}" border="0" alt=""> <span class="title">{#_INSTALLADMINADDTITLE#}</span><br><br>
<form action="index.php" method="POST">
<table border="0" cellspacing="2"  cellpadding="0">
<tr align="left">
<td bgcolor="{#color7#}" class="td1">
<input type="hidden" name="func" value="step6">
<img src="../{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_INSTALLADMINADDLOGIN#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2"><input type="text" name="admin_add_login" size="30" maxlength="25" class="formenter"></td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1"><img src="../{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_INSTALLADMINADDPASSWORD#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2"><input type="password" name="admin_add_password" size="30" maxlength="25" class="formenter"></td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1"><img src="../{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_INSTALLADMINADDPASSWORD2#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2"><input type="password" name="admin_add_password2" size="30" maxlength="25" class="formenter"></td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1"><img src="../{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_INSTALLADMINADDEMAIL#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2"><input type="text" name="admin_add_email" size="30" maxlength="60" class="formenter"></td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1"><img src="../{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_INSTALLADMINADDVIEWEMAIL#}</span></td><td bgcolor="{#color7#}" class="td2"><select name="admin_add_viewemail" class="formenter">
<option value="1">{#_INSTALLADMINADDVIEWEMAILYES#}</option>
<option value="0">{#_INSTALLADMINADDVIEWEMAILNO#}</option>
</select></td>
</tr>
</table><br>
<input type="submit" value="{#_INSTALLBUTTONADD#}" class="button">
</form>
</center>
{include file='install/footer.html'}