body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active {
text-decoration: none;
}
FORM {
MARGIN: 0px
}
tr,td,table {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}
input,textarea,select {
font: 10px Verdana, Arial, Helvetica, sans-serif;
}

.table {
border: 0;
padding-right: 4px;
padding-left: 4px;
}
.td1{
padding-right: 4px;
}
.td2{
padding-right: 4px;
padding-left: 4px;
}
.errorsmall {
color: #FF0000;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.errorbig {
color: #FF0000;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.messagesmall {
color: #333333;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.messagebig {
color: #333333;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textlink {
color: #333333;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textlinkbig {
color: #333333;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.link {
color: #0000FF;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.linkbig {
color: #0000FF;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
color: #333333;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.text {
color: #333333;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textbig {
color: #333333;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.blockname {
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.tablenamecenterblock {
color: #0000FF;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.tablecenterblocktext {
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.tablecenterblocktext2 {
color: #000000;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header {
color: #ffffff;
font-size: 11px;
font-weight: bold;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.menublock {
font-size: 11px;
color: #0000FF;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.leftrightblocktext {
color: #000000;
font-size: 9px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.leftrightblocktext2 {
color: #000000;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formenter {
color: #000000;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formentername {
color: #000000;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.button {
color: #000000;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.remarks {
color: #FFFFFF;
font-size: 9px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul#cssmenu {
	width:98%;
 height: 27px;
	margin: 0;
	border: 0 none;
	padding: 0;
 list-style: none;
	background: #EEEEEE;
	font-size: 11px;
 line-height: 27px;
 font-family: Verdana, Arial;
 padding-right: 1%;
 padding-left: 1%;
}

ul#cssmenu li {
	margin: 0;
	border: 0 none;
	padding: 0;
	float: left;
	display: inline;
	list-style: none;
	position: relative;
	height: 27px;
}

ul#cssmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 160px;
	list-style: none;
	display: none;
	position: absolute;
	top: 27px;
	left: 0;
}

ul#cssmenu ul:after {
	clear: both;
	display: block;
	font-size: 1px;
 line-height: 0px;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#cssmenu ul li {
	width: 160px;
	float: left;
	display: block !important;
	display: inline;
}

/* Main Menu */
ul#cssmenu a {
	border: 0px;
	padding: 0 10px;
	float: none !important;
	float: left;
	display: block;
	background: #EEEEEE;
	color: #333333;
	font-size: 11px;
 line-height: 27px;
 font-family: Verdana, Arial;
	text-decoration: none;
	height: auto !important;
	height: 1%;
}

/* Main Menu Hover */
ul#cssmenu a:hover,
ul#cssmenu li:hover a,
ul#cssmenu li.iehover a {
	background: #FFFFFF;
	color:#333333;
}

/* Second Menu */
ul#cssmenu li:hover li a,
ul#cssmenu li.iehover li a {
	float: none;
 border-top: 1px solid #FFFFFF;
 border-bottom: 1px solid #FFFFFF;
	background: #EEEEEE;
	color: #333333;
}

/* Second Menu Hover */
ul#cssmenu li:hover li a:hover,
ul#cssmenu li:hover li:hover a,
ul#cssmenu li.iehover li a:hover,
ul#cssmenu li.iehover li.iehover a {
	background: #FFFFFF;
	color:#333333;
}

ul#cssmenu ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 170px;
}

ul#cssmenu li:hover ul ul,
ul#cssmenu li.iehover ul ul {
	display: none;
}

ul#cssmenu li:hover ul,
ul#cssmenu ul li:hover ul,
ul#cssmenu li.iehover ul,
ul#cssmenu ul li.iehover ul {
	display: block;
}