{config_load file="$language/error.conf"}
<br>
{if $error eq "error_hommodule"}
<center><img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_HOMMODULE#}</span></center>
{elseif $error eq "error_nomodulefile"}
<center><img src="/{$system_dir}{#bgimage26#}" alt="">&nbsp;<span class="errorbig">{#_SYSTEM_ERROR#}</span><br><br>
<span class="textbig">{#_ERROR_NOMODULEFILE#}</span></center>
{elseif $error eq "error_nomoduleclass"}
<center><img src="/{$system_dir}{#bgimage26#}" alt="">&nbsp;<span class="errorbig">{#_SYSTEM_ERROR#}</span><br><br>
<span class="textbig">{#_ERROR_NOMODULECLASS#}</span></center>
{elseif $error eq "error_accessonlyusers"}
<center><img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_ACCESSONLYUSERS#}</span></center>
{elseif $error eq "error_accessonlyadmins"}
<center><img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_ACCESSONLYADMINS#}</span></center>
{elseif $error eq "error_accessonlyguests"}
<center><img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_ACCESSONLYGUESTS#}</span></center>
{elseif $error eq "error_modulenotactive"}
<center><img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_MODULENOTACTIVE#}</span></center>
{elseif $error eq "error_modulenotfind"}
<center><img src="/{$system_dir}{#bgimage26#}" alt="">&nbsp;<span class="errorbig">{#_SYSTEM_ERROR#}</span><br><br>
<span class="textbig">{#_ERROR_MODULENOTFIND#}</span></center>
{/if}
<br>