<!DOCTYPE HTML{if !isset($systemdk_html5_exist)} PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"{/if}>
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset={$site_charset}">
<META NAME="KEYWORDS" CONTENT="{$site_keywords}">
<META NAME="DESCRIPTION" CONTENT="{$site_description}">
<TITLE>{$site_name}</TITLE>
{nocache}
{if isset($systemdk_block_vertical_menu) and $systemdk_block_vertical_menu eq "yes"}
<script type="text/javascript" src="/{$system_dir}themes/ostel/js/cssmenujs.js"></script>
{/if}
{/nocache}
<script type="text/javascript" src="/{$system_dir}flowplayer/jquery.min.js"></script>
<script type="text/javascript" src="/{$system_dir}themes/ostel/js/menu.js"></script>
{if isset($systemdk_display_player) and $systemdk_display_player eq "yes"}
<script type="text/javascript" src="/{$system_dir}flowplayer/flowplayer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/{$system_dir}flowplayer/skin/{$systemdk_player_skin}.css">
{/if}
<LINK REL="SHORTCUT ICON" HREF="/{$system_dir}themes/ostel/images/favicon.ico" TYPE="image/x-icon">
<LINK REL="StyleSheet" HREF="/{$system_dir}themes/ostel/css/style.css" TYPE="text/css">
</head>
<BODY style="margin: 0">
<div style="width:100%; height:70px;">
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
 <tr>
   <td width="15%"></td>
   <td width="65%"><center>{if $site_logo ne ""}<img src="/{$system_dir}themes/ostel/images/{$site_logo}" border="0" alt="">{/if}<br><span class="remarksdark">{nocache}{$include_header_data_tpl}{/nocache}</span></center></td>
   <td width="5%" align="right" nowrap> {if $langlist ne "no" and $display_site_lang eq "yes"}<span class="remarksdark">Site:</span> {foreach $langlist as $langlist_tpl}{if $langlist_tpl.installed eq "yes"}{if $langlist_tpl.count_installed gt 0}<span class="remarksdark">|</span>{/if}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$langlist_tpl.name}/{else}/{$system_dir}index.php?lang={$langlist_tpl.name}{/if}" class="remarksdark">{if $site_language ne $langlist_tpl.name}<u>{/if}{$langlist_tpl.name|capitalize}{if $site_language ne $langlist_tpl.name}</u>{/if}</a>{/if}{/foreach}{/if}<br>
   {if $langlist ne "no" and $display_int_lang eq "yes"}<span class="remarksdark">Interface:</span> {foreach $langlist as $langlist_tpl}{if $langlist_tpl.item gt 0}<span class="remarksdark">|</span>{/if}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$site_language}/ilang/{$langlist_tpl.name}/{else}/{$system_dir}index.php?lang={$site_language}&amp;ilang={$langlist_tpl.name}{/if}" class="remarksdark">{if $language ne $langlist_tpl.name}<u>{/if}{$langlist_tpl.name|capitalize}{if $language ne $langlist_tpl.name}</u>{/if}</a>{/foreach}{/if}
   </td>
   <td width="15%"></td>
 </tr>
</table>
</div>
{nocache}
{if $blocks_all_headerdata ne "false"}
{foreach $blocks_all_headerdata as $blocks_all_headerdata_tpl}
{$blocks_all_headerdata_tpl.block_content}
{/foreach}
{/if}
<div style="width:100%;">
<center>
<table border="0" cellpadding="0" cellspacing="0" width="93%">
 <tr>
   <td width="170" valign="top">
   {if $blocks_all_leftdata ne "false"}
   {foreach $blocks_all_leftdata as $blocks_all_leftdata_tpl}
   <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="100%" height="17">
      </td>
    </tr>
    <tr valign="top">
      <td style="width:100%; height:100%;" align="left" class="leftrightblocktext2">
      {$blocks_all_leftdata_tpl.block_content}
      </td>
    </tr>
    <tr>
      <td height="2"></td>
    </tr>
   </table><br>
   {/foreach}
   <hr width="170" style="color:{#color10#}; border:0;">
   {/if}
   {/nocache}
   </td>
   <td width="1"><hr width="4" style="color:{#color10#}; border:0;"></td>
   <td valign="top" width="100%" align="left">