<br>
{literal}
<script type="text/javascript">
function image_reload()
 {
   document.images['captcha'].src='/{/literal}{$system_dir}{literal}captcha/index.php?rnd='+Math.round(Math.random(0)*1000);
 }
</script>
{/literal}
<center><img src="/{$system_dir}{#bgimage18#}" alt=""> <span class="title">{#_GUESTBOOK_MODULE_TITLE#}</span><br><br><br>
<form action="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/{else}/{$system_dir}index.php?path=guestbook&amp;lang={$site_language}{/if}" method="post">
<table border="0" cellspacing="2"  cellpadding="0" width="30%">
 {nocache}
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_USERNAME#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap><input type="text" name="post_user_name" {if $modules_guestbook_sendername ne 'no'}value="{$modules_guestbook_sendername}" readonly{/if} size="45" maxlength="35" class="formenter"> <input type="hidden" name="guestbook_user_id" value="{$modules_guestbook_senderid}"></td>
 </tr>
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_USERCOUNTRY#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap> <input type="text" name="post_user_country" {if $modules_guestbook_sendercountry ne 'no'}value="{$modules_guestbook_sendercountry}" {/if} size="45" maxlength="60" class="formenter"></td>
 </tr>
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_USERCITY#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap> <input type="text" name="post_user_city" {if $modules_guestbook_sendercity ne 'no'}value="{$modules_guestbook_sendercity}" {/if} size="45" maxlength="60" class="formenter"></td>
 </tr>
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_USERTELEPHONE#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap> <input type="text" name="post_user_telephone" {if $modules_guestbook_sendertelephone ne 'no'}value="{$modules_guestbook_sendertelephone}" {/if} size="45" maxlength="25" class="formenter">  <span class="formentername">{#_GUESTBOOK_MODULE_DONOTSHOWUSERINFO#}:</span><input type="checkbox" name="post_show_telephone" value="0" {if $modules_guestbook_viewsenderemail ne 'no' and $modules_guestbook_viewsenderemail eq '0'} checked{/if} class="formenter"></td>
 </tr>
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_USEREMAIL#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap> <input type="text" name="post_user_email" {if $modules_guestbook_senderemail ne 'no'}value="{$modules_guestbook_senderemail}" readonly{/if} size="45" maxlength="60" class="formenter"> <span class="formentername">{#_GUESTBOOK_MODULE_DONOTSHOWUSERINFO#}:</span><input type="checkbox" name="post_show_email" value="0" {if $modules_guestbook_viewsenderemail ne 'no' and $modules_guestbook_viewsenderemail eq '0'} checked{/if} class="formenter"></td>
 </tr>
 {/nocache}
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_USERMESSAGE#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap> <textarea name="post_text" rows="9" cols="75" class="formenter"></textarea></td>
 </tr>
{nocache}
{if $enter_check ne "no"}
 <tr align="left">
  <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_GUESTBOOK_MODULE_SECRETNUM#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>
   <img src="/{$system_dir}captcha/index.php" border='1' alt="" id="captcha"> &nbsp;<a href="javascript:image_reload();" class="link">{#_GUESTBOOK_MODULE_CAPTCHAUPDATE#}</a><br>
   <input type="text" name="captcha" size="11" maxlength="6" class="formenter">
  </td>
 </tr>
{/if}
{/nocache}
</table><br>
   <input type="hidden" name="func" value="insert">
   <center><input type="submit" value="{#_GUESTBOOK_MODULE_SENDBUTTON#}" class="button"></center>
</form>
</center><br><br>
<table border="0" width="99%" cellspacing="0"  cellpadding="0"><tr><td align="left"><img src="/{$system_dir}{#bgimage16#}" border="0" alt=""><span class="text">{#_NOTES#}{#_NOTES1#}</span>&nbsp;<span class="errorsmall">*</span>&nbsp;<span class="text">{#_NOTES2#}</span></td></tr></table>
<br><br><center><a href="javascript:history.back(1)" class="link">{#_GUESTBOOK_MODULE_GOBACK#}</a></center><br>