<table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td nowrap>
<ul id="cssmenu">
{nocache}
{if $admin eq "yes"}
<li><a href="/{$system_dir}{$admin_folder}index.php?lang={$site_language}">{#_ADMINISTRATIONLINK#}</a></li>
{/if}
<li><a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$site_language}/{else}/{$system_dir}index.php?lang={$site_language}{/if}">{#_MAINPAGELINK#}</a></li>
{if $block_content_array ne "no"}
{foreach $block_content_array as $block_content_array_tpl}
{if $block_content_array_tpl.mainmenu_type eq "module"  and $block_content_array_tpl.display_access eq "yes"}
<li><a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/{$block_content_array_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path={$block_content_array_tpl.mainmenu_element}&amp;lang={$site_language}{/if}" target="{$block_content_array_tpl.mainmenu_target}">{$block_content_array_tpl.mainmenu_name}</a>
{elseif $block_content_array_tpl.mainmenu_type eq "main_page"  and $block_content_array_tpl.display_access eq "yes"}
<li><a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/main_pages/{$block_content_array_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path=main_pages&amp;main_pageid={$block_content_array_tpl.mainmenu_element}&amp;lang={$site_language}{/if}" target="{$block_content_array_tpl.mainmenu_target}">{$block_content_array_tpl.mainmenu_name}</a>
{elseif $block_content_array_tpl.mainmenu_type eq "other"  and $block_content_array_tpl.display_access eq "yes"}
<li><a href="{$block_content_array_tpl.mainmenu_element}" target="{$block_content_array_tpl.mainmenu_target}">{$block_content_array_tpl.mainmenu_name}</a>
{/if}
{if $block_content_array_tpl.childs eq "no"}
</li>
{else}
<ul>
{foreach $block_content_array_tpl.childs as $block_content_array_childs_tpl}
{if $block_content_array_childs_tpl.mainmenu_type eq "module"  and $block_content_array_childs_tpl.display_access eq "yes"}
<li><a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/{$block_content_array_childs_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path={$block_content_array_childs_tpl.mainmenu_element}&amp;lang={$site_language}{/if}" target="{$block_content_array_childs_tpl.mainmenu_target}">{$block_content_array_childs_tpl.mainmenu_name}</a></li>
{elseif $block_content_array_childs_tpl.mainmenu_type eq "main_page"  and $block_content_array_childs_tpl.display_access eq "yes"}
<li><a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/main_pages/{$block_content_array_childs_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path=main_pages&amp;main_pageid={$block_content_array_childs_tpl.mainmenu_element}&amp;lang={$site_language}{/if}" target="{$block_content_array_childs_tpl.mainmenu_target}">{$block_content_array_childs_tpl.mainmenu_name}</a></li>
{elseif $block_content_array_childs_tpl.mainmenu_type eq "other"  and $block_content_array_childs_tpl.display_access eq "yes"}
<li><a href="{$block_content_array_childs_tpl.mainmenu_element}" target="{$block_content_array_childs_tpl.mainmenu_target}">{$block_content_array_childs_tpl.mainmenu_name}</a></li>
{/if}
{/foreach}
</ul>
</li>
{/if}
{/foreach}
{/if}
{/nocache}
</ul>
</td>
</tr>
</table>