{nocache}
{if $admin eq "yes"}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color4#}; padding-right: 3px; padding-left: 3px;">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px">
      <td width="10%"><img src="/{$system_dir}{#bgimage5#}" width="12" height="12" alt=""></td>
      <td width="90%"><a href="/{$system_dir}{$admin_folder}index.php?lang={$site_language}" class="menublock">{#_ADMINISTRATIONLINK#}</a></td>
     </tr>
     <tr>
      <td bgColor="{#color5#}" colSpan="2" height="1"></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{/if}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color4#}; padding-right: 3px; padding-left: 3px;">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px">
      <td width="10%"><img src="/{$system_dir}{#bgimage5#}" width="12" height="12" alt=""></td>
      <td width="90%"><a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$site_language}/{else}/{$system_dir}index.php?lang={$site_language}{/if}" class="menublock">{#_MAINPAGELINK#}</a></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{if $block_content_array ne "no"}
{foreach $block_content_array as $block_content_array_tpl}
{if $block_content_array_tpl.mainmenu_type eq "module"  and $block_content_array_tpl.display_access eq "yes"}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color4#}; padding-right: 3px; padding-left: 3px;">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr>
      <td bgColor="{#color5#}" colSpan="2" height="1"></td>
     </tr>
     <tr style="PADDING-BOTTOM: 1px; PADDING-TOP: 1px">
      <td width="10%" nowrap> {if $block_content_array_tpl.mainmenu_element_type ne "child"}<img src="/{$system_dir}{#bgimage5#}" width="12" height="12" alt="">{/if} </td>
      <td width="90%">{if $block_content_array_tpl.mainmenu_element_type eq "child"}<span class="menublock"> - </span>{/if}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/{$block_content_array_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path={$block_content_array_tpl.mainmenu_element}&amp;lang={$site_language}{/if}" target="{$block_content_array_tpl.mainmenu_target}" class="menublock"> {$block_content_array_tpl.mainmenu_name}</a></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{elseif $block_content_array_tpl.mainmenu_type eq "main_page"  and $block_content_array_tpl.display_access eq "yes"}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color4#}; padding-right: 3px; padding-left: 3px;">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr>
      <td bgColor="{#color5#}" colSpan="2" height="1"></td>
     </tr>
     <tr style="PADDING-BOTTOM: 1px; PADDING-TOP: 1px">
      <td width="10%" nowrap>{if $block_content_array_tpl.mainmenu_element_type ne "child"}<img src="/{$system_dir}{#bgimage5#}" width="12" height="12" alt="">{/if}</td>
      <td width="90%">{if $block_content_array_tpl.mainmenu_element_type eq "child"}<span class="menublock"> - </span>{/if}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/main_pages/{$block_content_array_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path=main_pages&amp;main_pageid={$block_content_array_tpl.mainmenu_element}&amp;lang={$site_language}{/if}" target="{$block_content_array_tpl.mainmenu_target}" class="menublock"> {$block_content_array_tpl.mainmenu_name}</a></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{elseif $block_content_array_tpl.mainmenu_type eq "other"  and $block_content_array_tpl.display_access eq "yes"}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color4#}; padding-right: 3px; padding-left: 3px;">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr>
      <td bgColor="{#color5#}" colSpan="2" height="1"></td>
     </tr>
     <tr style="PADDING-BOTTOM: 1px; PADDING-TOP: 1px">
      <td width="10%" nowrap>{if $block_content_array_tpl.mainmenu_element_type ne "child"}<img src="/{$system_dir}{#bgimage5#}" width="12" height="12" alt="">{/if}</td>
      <td width="90%">{if $block_content_array_tpl.mainmenu_element_type eq "child"}<span class="menublock"> - </span>{/if}<a href="{$block_content_array_tpl.mainmenu_element}" target="{$block_content_array_tpl.mainmenu_target}" class="menublock"> {$block_content_array_tpl.mainmenu_name}</a></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{/if}
{/foreach}
{/if}
{/nocache}
