{config_load file="ru/install/install.conf"}
{include file='install/header.html'}
<center><img src="../{#bgimage18#}" border="0" alt=""> <span class="title">{#_INSTALLCONFIGURATIONNEED#}</span></center><br>
&nbsp;&nbsp;<span class="textbig">{#_INSTALLCONFIGURATIONTITLE#}:</span><br><br>
<span class="textbig">&nbsp;- {#_INSTALLCONFIGURATION1#} (<a href="http://www.microsoft.com" target="_blank" class="link">http://www.microsoft.com</a>|<a href="http://www.linux.com" target="_blank" class="link">http://www.linux.com</a>); <br>
&nbsp;- HTTP-{#_INSTALLCONFIGURATION2#} (<a href="http://www.apache.org" target="_blank" class="link">http://www.apache.org</a>); <br>
&nbsp;- PHP 5.2-{#_INSTALLCONFIGURATION3#} (<a href="http://www.php.net" target="_blank" class="link">http://www.php.net</a>); <br>
<!--&nbsp;- Zend Optimizer (<a href="http://www.zend.com/en/products/guard/zend-optimizer" target="_blank" class="link">http://www.zend.com</a>); <br>-->
&nbsp;- {#_INSTALLCONFIGURATION4#}&nbsp;MySQL, Oracle<!-- , MsSQL, Postgres, Access --> (<a href="http://phplens.com/adodb/supported.databases.html" target="_blank" class="link">{#_INSTALLCONFIGURATION5#}</a>).<br>
</span><br><br>
{if $servconf eq "yes"}
&nbsp;<img src="../{#bgimage16#}" border="0" alt=""> <span class="textbig"><u>{#_INSTALLNOTES#}</u>: {#_INSTALLNOTESTEXT#}</span><br>
&nbsp;<img src="../{#bgimage16#}" border="0" alt=""> <span class="textbig"><u>{#_INSTALLNOTES#} 2</u>: {#_INSTALLNOTES3#}</span><br>
<br><center>
<form action="index.php" method="POST">
<input type="hidden" name="func" value="step2a">
<input type="submit" value="{#_INSTALLBUTTONNEXT#}" class="button">
</form>
</center><br><br>
{else}
<center><img src="../{#bgimage28#}" border="0" alt=""> <span class="errorbig">{#_INSTALLNOTEQCONFIG#}</span></center><br>
&nbsp;<img src="../{#bgimage16#}" border="0" alt=""> <span class="textbig"><u>{#_INSTALLNOTES#}</u>: {#_INSTALLNOTESTEXTPHP#}</span><br>
{/if}
{include file='install/footer.html'}