{nocache}
modules_shop_ship_name,

{#_SHOP_MODULE_AN_ORDER#} modules_shop_site_url. {#_SHOP_MODULE_ORDER_NUMBER#}: modules_shop_order_id. {#_SHOP_MODULE_ORDER_MAIL_TEXT1#}: modules_shop_order_url
{#_SHOP_MODULE_ORDER_MAIL_TEXT2#} modules_shop_invoice_life_time {#_SHOP_MODULE_MINUTES#}.
{#_SHOP_MODULE_ORDER_MAIL_TEXT3#} modules_shop_invoice_life_time {#_SHOP_MODULE_MINUTES#} {#_SHOP_MODULE_ORDER_MAIL_TEXT4#}

{#_SHOP_MODULE_EMAIL_NOTES1#},
{#_SHOP_MODULE_EMAIL_NOTES2#} modules_shop_site_url
{/nocache}