{nocache}
{if $admin eq "yes"}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color5#};">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr style="CURSOR:POINTER;" onmouseover="this.style.backgroundColor='{#color8#}'" onmouseout="this.style.backgroundColor='{#color5#}'" onclick="location.href='/{$system_dir}{$admin_folder}index.php?lang={$site_language}'">
      <td width="5%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 3px;"><img src="/{$system_dir}{#bgimage25#}" alt=""></td>
      <td width="95%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 3px;"><a href="#" class="menublock">{#_ADMINISTRATIONLINK#}</a></td>
     </tr>
     <tr>
      <td bgColor="{#color9#}" colSpan="2" height="1"></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{/if}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color5#};">
 <tr>
  <td>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
     <tr style="CURSOR:POINTER;" onmouseover="this.style.backgroundColor='{#color8#}'" onmouseout="this.style.backgroundColor='{#color5#}'" onclick="location.href='{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$site_language}/{else}/{$system_dir}index.php?lang={$site_language}{/if}'">
      <td width="5%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 3px;"><img src="/{$system_dir}{#bgimage25#}" alt=""></td>
      <td width="95%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 3px;"><a href="#" class="menublock">{#_MAINPAGELINK#}</a></td>
     </tr>
    </table>
  </td>
 </tr>
</table>
{if $block_content_array ne "no"}
{foreach $block_content_array as $block_content_array_tpl}
{if $block_content_array_tpl.mainmenu_type eq "module"  and $block_content_array_tpl.display_access eq "yes"}
 <table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color5#};">
  <tr>
   <td>
     <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td bgColor="{#color9#}" colSpan="2" height="1"></td>
      </tr>
      <tr style="CURSOR:POINTER;" onmouseover="this.style.backgroundColor='{#color8#}'" onmouseout="this.style.backgroundColor='{#color5#}'" onclick="{if $block_content_array_tpl.mainmenu_target ne "_blank"}location.href={else}window.open({/if}'{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/{$block_content_array_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path={$block_content_array_tpl.mainmenu_element}&amp;lang={$site_language}{/if}'{if $block_content_array_tpl.mainmenu_target eq "_blank"});return false{/if}">
       <td width="5%" nowrap style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px;"> {if $block_content_array_tpl.mainmenu_element_type ne "child"}<img src="/{$system_dir}{#bgimage25#}" alt="">{/if} </td>
       <td width="95%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px;">{if $block_content_array_tpl.mainmenu_element_type eq "child"}<span class="menublock"> - </span>{/if}<a href="#" target="{$block_content_array_tpl.mainmenu_target}" class="menublock"> {$block_content_array_tpl.mainmenu_name}</a></td>
      </tr>
     </table>
   </td>
  </tr>
 </table>
{elseif $block_content_array_tpl.mainmenu_type eq "main_page"  and $block_content_array_tpl.display_access eq "yes"}
 <table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color5#};">
  <tr>
   <td>
     <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td bgColor="{#color9#}" colSpan="2" height="1" ></td>
      </tr>
      <tr style="CURSOR:POINTER;" onmouseover="this.style.backgroundColor='{#color8#}'" onmouseout="this.style.backgroundColor='{#color5#}'" onclick="{if $block_content_array_tpl.mainmenu_target ne "_blank"}location.href={else}window.open({/if}'{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/main_pages/{$block_content_array_tpl.mainmenu_element}/{else}/{$system_dir}index.php?path=main_pages&amp;main_pageid={$block_content_array_tpl.mainmenu_element}&amp;lang={$site_language}{/if}'{if $block_content_array_tpl.mainmenu_target eq "_blank"});return false{/if}">
       <td width="5%" nowrap style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px;">{if $block_content_array_tpl.mainmenu_element_type ne "child"}<img src="/{$system_dir}{#bgimage25#}" alt="">{/if}</td>
       <td width="95%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px;">{if $block_content_array_tpl.mainmenu_element_type eq "child"}<span class="menublock"> - </span>{/if}<a href="#" target="{$block_content_array_tpl.mainmenu_target}" class="menublock"> {$block_content_array_tpl.mainmenu_name}</a></td>
      </tr>
     </table>
   </td>
  </tr>
 </table>
{elseif $block_content_array_tpl.mainmenu_type eq "other"  and $block_content_array_tpl.display_access eq "yes"}
 <table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:{#color5#};">
  <tr>
   <td>
     <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td bgColor="{#color9#}" colSpan="2" height="1"></td>
      </tr>
      <tr style="CURSOR:POINTER;" onmouseover="this.style.backgroundColor='{#color8#}'" onmouseout="this.style.backgroundColor='{#color5#}'" onclick="{if $block_content_array_tpl.mainmenu_target ne "_blank"}location.href={else}window.open({/if}'{$block_content_array_tpl.mainmenu_element}'{if $block_content_array_tpl.mainmenu_target eq "_blank"});return false{/if}">
       <td width="5%" nowrap style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px;">{if $block_content_array_tpl.mainmenu_element_type ne "child"}<img src="/{$system_dir}{#bgimage25#}" alt="">{/if}</td>
       <td width="95%" style="PADDING-BOTTOM: 1px; PADDING-TOP: 2px;">{if $block_content_array_tpl.mainmenu_element_type eq "child"}<span class="menublock"> - </span>{/if}<a href="#" target="{$block_content_array_tpl.mainmenu_target}" class="menublock"> {$block_content_array_tpl.mainmenu_name}</a></td>
      </tr>
     </table>
   </td>
  </tr>
 </table>
{/if}
{/foreach}
{/if}
{/nocache}
