<br><br><center>
{config_load file="$language/error.conf"}
{if $guestbook_message eq "not_all_data"}
<img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_USERNOTALLDATA#}</span><br><br>
<a href="javascript:history.back(1)" class="link">{#_GOBACK#}</a>
{elseif $guestbook_message eq "check_code"}
<img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_CHECKKODE#}</span><br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/add/{else}/{$system_dir}index.php?path=guestbook&amp;func=add&amp;lang={$site_language}{/if}" class="link">{#_GOBACK#}</a>
{elseif $guestbook_message eq "post_limit"}
<img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_GUESTBOOK_MODULE_POSTLIMIT#}</span><br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/{else}/{$system_dir}index.php?path=guestbook&amp;lang={$site_language}{/if}" class="link">{#_GUESTBOOK_MODULE_TITLE#}</a>
{elseif $guestbook_message eq "user_email"}
<img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_ERROR_ACCOUNTNOTCORRECTEMAIL#}</span><br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/add/{else}/{$system_dir}index.php?path=guestbook&amp;func=add&amp;lang={$site_language}{/if}" class="link">{#_GOBACK#}</a>
{elseif $guestbook_message eq "post_length"}
<img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_SYSTEM_MESSAGE#}</span><br><br>
<span class="textbig">{#_GUESTBOOK_MODULE_POSTTOOBIG#}</span><br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/add/{else}/{$system_dir}index.php?path=guestbook&amp;func=add&amp;lang={$site_language}{/if}" class="link">{#_GOBACK#}</a>
{elseif $guestbook_message eq "insert_ok"}
<img src="/{$system_dir}{#bgimage29#}" alt="">&nbsp;<span class="textbig">{#_GUESTBOOK_MODULE_POSTSENDOK#}</span><br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/{else}/{$system_dir}index.php?path=guestbook&amp;lang={$site_language}{/if}" class="link">{#_GUESTBOOK_MODULE_TITLE#}</a>
{elseif $guestbook_message eq "will_insert_ok"}
<img src="/{$system_dir}{#bgimage29#}" alt="">&nbsp;<span class="textbig">{#_GUESTBOOK_MODULE_POSTWILLSENDOK#}</span><br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/{else}/{$system_dir}index.php?path=guestbook&amp;lang={$site_language}{/if}" class="link">{#_GUESTBOOK_MODULE_TITLE#}</a>
{elseif $guestbook_message eq "not_insert"}
<img src="/{$system_dir}{#bgimage26#}" alt="">&nbsp;<span class="errorbig">{#_SYSTEM_ERROR#}</span><br><br>
<span class="textbig">{#_SYSTEMERROR#}:</span><br><br>
{nocache}
{if $errortext ne "no"}
{foreach $errortext as $errortext_tpl}
{if $errortext_tpl.message ne "" and $errortext_tpl.code ne ""}<span class="errorsmall">{$errortext_tpl.message}<br>{$errortext_tpl.code}</span><br>{/if}
{/foreach}
{/if}
{/nocache}
<br><br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/{else}/{$system_dir}index.php?path=guestbook&amp;lang={$site_language}{/if}" class="link">{#_GUESTBOOK_MODULE_TITLE#}</a>
{/if}
</center>
<br><br>