   <div id="MainupTitle" style="width:100%; height:17px; background-color: {#color3#}; background-image: url(/{$system_dir}{#bgimage8#});">
   {if $homepage eq "true"}
   <center><span class="header">{#_MAINPAGELINK#}</span></center>
   {elseif $homepage eq "false" and isset($page_title) and $page_title ne "no"}
   <center><span class="header">{if $page_title eq "module|news"}{#_MODULENEWSTITLE#}{else}{$page_title}{/if}</span></center>
   {/if}
   </div>
   <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="{#color3#}" style="padding-right: 3px; padding-left: 3px;">
    <tr>
      <td>
      {nocache}
      {if $homepage eq "true"}
      {if $message_alldata ne "no"}
      {foreach $message_alldata as $message_alldata_tpl}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
       <tr bgcolor="{#color9#}">
        <td height="17" align="left"><img border="0" src="/{$system_dir}{#bgimage18#}" alt=""> <span class="tablecenterblocktext"><u>{#_MESSAGETITLEONMAINPAGE#}</u>: {$message_alldata_tpl.message_title}</span><br></td>
       </tr>
       <tr>
       <td>
       {$message_alldata_tpl.message_content}
       {if $message_alldata_tpl.message_notes ne "no"}
       <br><br><span class="leftrightblocktext2">{#_NOTES#}{$message_alldata_tpl.message_notes}</span>
       {/if}
       </td>
       </tr>
       <tr bgcolor="{#color9#}">
       <td width="100%" height="17">
       {if $admin eq "yes"}
       [<span class="leftrightblocktext">{#_MESSAGEADMINVALUEVIEW#}:{if $message_alldata_tpl.message_valueview eq "0"} {#_MESSAGEADMINVALUEVIEWALL#}{elseif $message_alldata_tpl.message_valueview eq "1"} {#_MESSAGEADMINVALUEVIEWONLYUSERS#}{elseif $message_alldata_tpl.message_valueview eq "2"} {#_MESSAGEADMINVALUEVIEWONLYADMINS#}{elseif $message_alldata_tpl.message_valueview eq "3"}{#_MESSAGEADMINVALUEVIEWONLYGUESTS#}{/if} - {if $message_alldata_tpl.message_termexpire eq "unlim"} {#_MESSAGEADMINNOTERMEXPIRE#}{else}{#_MESSAGEADMINTERMEXPIRE#} {$message_alldata_tpl.message_termexpire} {/if} -</span> <a href="/{$system_dir}{$admin_folder}index.php?path=admin_messages&amp;func=message_edit&amp;message_id={$message_alldata_tpl.message_id}&amp;lang={$site_language}" class="link">{#_MESSAGEADMINEDITLINK#}</a>]
       {/if}
       </td>
       </tr>
       </table>
       <br><br>
      {/foreach}
      {/if}
      {if $blocks_all_centerupdata ne "false"}
      {foreach $blocks_all_centerupdata as $blocks_all_centerupdata_tpl}
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
       <tr bgcolor="{#color9#}">
         <td height="17" align="left"><img border="0" src="/{$system_dir}{#bgimage18#}" alt=""> <span class="tablecenterblocktext"><u>{$blocks_all_centerupdata_tpl.block_customname}</u></span></td>
       </tr>
       <tr>
         <td>
         {$blocks_all_centerupdata_tpl.block_content}
         </td>
       </tr>
      </table><br>
      {/foreach}
      {/if}
      {/if}
      {/nocache}