<!DOCTYPE HTML{if !isset($systemdk_html5_exist)} PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"{/if}>
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset={$site_charset}">
<META NAME="KEYWORDS" CONTENT="{$site_keywords}">
<META NAME="DESCRIPTION" CONTENT="{$site_description}">
<TITLE>{$site_name}</TITLE>
{nocache}
{if isset($systemdk_block_vertical_menu) and $systemdk_block_vertical_menu eq "yes"}
<script type="text/javascript" src="/{$system_dir}themes/systemdk/js/cssmenujs.js"></script>
{/if}
{/nocache}
{if isset($jquery_ui)}
    <LINK REL="StyleSheet" HREF="/{$system_dir}themes/systemdk/multiselect/css/jquery-ui.css" TYPE="text/css">
{/if}
{if (isset($systemdk_display_player) && $systemdk_display_player eq "yes") || isset($jquery)}
    <script type="text/javascript" src="/{$system_dir}flowplayer/jquery.min.js"></script>
{/if}
{if isset($jquery_ui)}
    <script type="text/javascript" src="/{$system_dir}themes/systemdk/multiselect/js/jquery-ui.min.js"></script>
{/if}
{if isset($systemdk_display_player) and $systemdk_display_player eq "yes"}
<script type="text/javascript" src="/{$system_dir}flowplayer/flowplayer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/{$system_dir}flowplayer/skin/{$systemdk_player_skin}.css">
{/if}
<LINK REL="SHORTCUT ICON" HREF="/{$system_dir}themes/systemdk/images/favicon.ico" TYPE="image/x-icon">
<LINK REL="StyleSheet" HREF="/{$system_dir}themes/systemdk/css/style.css" TYPE="text/css">
</head>
<BODY bgColor="{#color2#}" style="margin: 0">
<div style="width:100%; height:70px; background-image:url(/{$system_dir}{#bgimage1#}); background-color:{#color10#};">
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
 <tr>
   <td width="15%"><img src="/{$system_dir}{#bgimage23#}" border="0" align="left" alt=""></td>
   <td width="65%"><center>{if $site_logo ne ""}<img src="/{$system_dir}themes/systemdk/images/{$site_logo}" border="0" alt="">{/if}<br><span class="remarks">{nocache}{$include_header_data_tpl}{/nocache}</span></center></td>
   <td width="5%" align="right" nowrap> {if $langlist ne "no" and $display_site_lang eq "yes"}<span class="remarks">Site:</span> {foreach $langlist as $langlist_tpl}{if $langlist_tpl.installed eq "yes"}{if $langlist_tpl.count_installed gt 0}<span class="remarks">|</span>{/if}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$langlist_tpl.name}/{else}/{$system_dir}index.php?lang={$langlist_tpl.name}{/if}" class="remarks">{if $site_language ne $langlist_tpl.name}<u>{/if}{$langlist_tpl.name|capitalize}{if $site_language ne $langlist_tpl.name}</u>{/if}</a>{/if}{/foreach}{/if}<br>
   {if $langlist ne "no" and $display_int_lang eq "yes"}<span class="remarks">Interface:</span> {foreach $langlist as $langlist_tpl}{if $langlist_tpl.item gt 0}<span class="remarks">|</span>{/if}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$site_language}/ilang/{$langlist_tpl.name}/{else}/{$system_dir}index.php?lang={$site_language}&amp;ilang={$langlist_tpl.name}{/if}" class="remarks">{if $language ne $langlist_tpl.name}<u>{/if}{$langlist_tpl.name|capitalize}{if $language ne $langlist_tpl.name}</u>{/if}</a>{/foreach}{/if}
   </td>
   <td width="15%"><img src="/{$system_dir}{#bgimage24#}" border="0" align="right" alt=""></td>
 </tr>
</table>
</div>
<div style="width:100%; background-image:url(/{$system_dir}{#bgimage2#}); height:20px; background-color:{#color10#};">
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
 <tr>
   <td width="10%">&nbsp;<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}lang/{$site_language}/{else}/{$system_dir}index.php?lang={$site_language}{/if}"><img src="/{$system_dir}{#bgimage4#}" border="0" align="middle" alt=""></a>&nbsp;<a href="javascript:history.back(1)"><img src="/{$system_dir}{#bgimage6#}" border="0" align="middle" alt=""></a>&nbsp;<a href="javascript:history.go(1)"><img src="/{$system_dir}{#bgimage5#}" border="0" align="middle" alt=""></a></td>
   <td width="80%">&nbsp;</td>
   <td width="10%">&nbsp;</td>
 </tr>
</table>
</div>
{nocache}
{if $blocks_all_headerdata ne "false"}
{foreach $blocks_all_headerdata as $blocks_all_headerdata_tpl}
{$blocks_all_headerdata_tpl.block_content}
{/foreach}
{/if}
<div style="width: 100%; height: 3px; background-color:{#color2#};"></div>
<div style="width:100%; background-color:{#color2#};">
<center>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="{#color2#}">
 <tr>
   <td width="170" valign="top" bgcolor="{#color10#}">
   {if $blocks_all_leftdata ne "false"}
   {foreach $blocks_all_leftdata as $blocks_all_leftdata_tpl}
   <table width="100%" border="0" cellpadding="0" cellspacing="0"  bgcolor="{#color10#}">
    <tr bgcolor="{#color11#}">
      <td width="100%" height="17">
      <center><span class="blockname">{$blocks_all_leftdata_tpl.block_customname}</span></center>
      </td>
    </tr>
    <tr valign="top" bgcolor="{#color5#}">
      <td style="width:100%; height:100%; border-left-color:{#color5#}; border-left-style:solid; border-left-width:3px; border-right-color:{#color5#}; border-right-style:solid; border-right-width:3px;" align="left" class="leftrightblocktext2">
      {$blocks_all_leftdata_tpl.block_content}
      </td>
    </tr>
    <tr bgcolor="{#color12#}">
      <td height="2"></td>
    </tr>
   </table><br>
   {/foreach}
   <hr width="170" style="color:{#color10#}; border:0;">
   {/if}
   {/nocache}
   </td>
   <td width="1"><hr width="4" style="color:{#color2#}; border:0;"></td>
   <td valign="top" width="100%" bgcolor="{#color10#}" align="left">