{config_load file="$language/systemadmin/systeminfo.conf"}
{#_SYSTEMINFO#}</span></center>
</div>
<br>
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
 <tr>
   <td>
   <center><img src="../{#bgimage18#}" border="0" alt=""> <span class="title">{#_MAINSYSTEMINFO#}</span><br>
   <table width="98%" border="0" cellpadding="0" cellspacing="2">
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_CMSVERSION#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{$systemdk_version}</span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_OSINFODISPLAY#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{if $config_os_version ne "no"}{$config_os_version}{else} {#_VALUEUNKNOWN#}{/if}</span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_SITESTATUSDISPLAY#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      {if $config_site_status eq "on"} <span class="tablecenterblocktext2">{#_SITESTATUSONDISPLAY#}{else} <span class="errorsmall">{#_SITESTATUSOFFDISPLAY#}{/if}</span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_PHPVERSION#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{$phpversion}</span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_BDVERSION#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{$sqlversion}</span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_FREEDISKSPACEDISPLAY#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{if $config_diskfreespace ne "no"}{$config_diskfreespace}{else}{#_VALUEUNKNOWN#}{/if}</span>
      </td>
    </tr>
    {if $config_db_size ne "no"}
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_DATABASETOTALSIZE#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{if $config_db_size ne "no" and $config_db_size ne "0"}{$config_db_size}{else}{#_VALUEUNKNOWN#}{/if}</span>
      </td>
    </tr>
   {/if}
   </table><br>
   <img src="../{#bgimage18#}" border="0" alt=""> <span class="title">{#_MAINSYSTEMPARAMS#}</span><br>
   <table width="98%" border="0" cellpadding="0"  cellspacing="2">
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">Register globals</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $register_globals ne "0" and $register_globals ne ""}
      {#_ON#}
      {else}
      {#_OFF#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">Safe Mode</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $safe_mode ne "0" and $safe_mode ne ""}
      {#_ON#}
      {else}
      {#_OFF#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">Display errors</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $display_errors ne "0" and $display_errors ne ""}
      {#_ON#}
      {else}
      {#_OFF#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">Log errors</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $log_errors ne "0" and $log_errors ne ""}
      {#_ON#}
      {else}
      {#_OFF#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">Zlib compression</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $zlib_compression ne "0" and $zlib_compression ne ""}
      {#_ON#}
      {else}
      {#_OFF#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">Magic quotes gpc</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $magic_quotes_gpc ne "0" and $magic_quotes_gpc ne ""}
      {#_ON#}
      {else}
      {#_OFF#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_TOTALMEMORYVALUE#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $config_memory_limit ne "0" and $config_memory_limit ne ""}
      {$config_memory_limit}
      {else}
      {#_VALUEUNKNOWN#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_FILEMAXUPLOADSIZE#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $config_maxupload ne "0" and $config_maxupload ne ""}
      {$config_maxupload}
      {else}
      {#_VALUEUNKNOWN#}
      {/if}
      </span>
      </td>
    </tr>
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_PHPDISABLEFUNCTIONS#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $config_disable_functions ne "no"}
      {$config_disable_functions}
      {else}
      {#_VALUEUNKNOWN#}
      {/if}
      </span>
      </td>
    </tr>
   </table><br>
   <img src="../{#bgimage18#}" border="0" alt=""> <span class="title">{#_CMSPARAMS#}</span><br>
   <table width="98%" border="0" cellpadding="0"  cellspacing="2">
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_SHORTINFO#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">
      {if $persistency eq "yes"}
      {#_PRESISTCONNECTWITHBDON#}
      {else}
      {#_PRESISTCONNECTWITHBDOFF#}
      {/if}
      {if $caching eq "yes"}
      {#_CACHEON#}
      {else}
      {#_CAHCEOFF#}
      {/if}
      {if $cache_lifetime ne ""}
      {#_CAHCELIFETIME#} {$cache_lifetime}.
      {/if}
      {if $gzip eq "yes" and $zlib_compression ne ""}
      {#_GZIPON#}
      {else}
      {#_GZIPOFF#}
      {/if}
      {if $enter_check eq "yes"}
      {#_SECURITYCODEON#}
      {else}
      {#_SECURITYCODEOFF#}
      {/if}
      {if $systemdk_account_registration eq "yes"} 
      {#_SYSINFOUSERREGISTRATIONON#}
      {else}
      {#_SYSINFOUSERREGISTRATIONOFF#}
      {/if}
      {if $systemdk_account_activation eq "yes"} 
      {#_SYSINFOUSERACTIVATIONON#}
       {if $systemdk_account_maxactivationdays gt "0"}
       {#_SYSINFOUSERACTIVATIONDAYSON#} {$systemdk_account_maxactivationdays}.
       {else}
       {#_SYSINFOUSERACTIVATIONDAYSOFF#}
       {/if}
      {else}
      {#_SYSINFOUSERACTIVATIONOFF#}
      {/if}
      {if $systemdk_account_maxusers gt "0"} 
      {#_SYSINFOMAXREGISTEREDUSERS#}{$systemdk_account_maxusers}.
      {/if}
      {if $systemdk_feedback_receiver eq "default"}
      {#_SYSINFOFEEDBACKRECEIVEROFF#}
      {else}
      {#_SYSINFOFEEDBACKRECEIVERON#}
      {/if}
      {if $systemdk_ipantispam eq "yes"}
      {#_SYSINFOMAILANTISPAMON#}
      {else}
      {#_SYSINFOMAILANTISPAMOFF#}
      {/if}
      </span>
      </td>
    </tr>
   </table><br>
    <img src="../{#bgimage18#}" border="0" alt=""> <span class="title">{#_STATISTICA#}</span><br>
   <table width="98%" border="0" cellpadding="0"  cellspacing="2">
    <tr align="left">
      <td width="20%" bgcolor="{#color7#}" class="td1" nowrap>
      <img src="../{#bgimage15#}" border="0" alt=""> <span class="tablecenterblocktext2">{#_SHORTINFO#}</span>
      </td>
      <td width="80%" bgcolor="{#color7#}" class="td2">
      <span class="tablecenterblocktext2">{#_INSYSTEMMODULES#}{#_ADMINMODULES#}</span><span class="link">{$countadminmodules}</span><span class="tablecenterblocktext2">, {#_MAINMODULES#}</span><span class="link">{$countmainmodules}</span>
      </td>
    </tr>
   </table><br>
   </center>
   </td>
 </tr>
</table>
<br><br>