{nocache}
{if !isset($modules_feedback_receivername) or $modules_feedback_receivername eq '' or $modules_feedback_receivername eq 'NULL'}{#_FEEDBACKADMINNAME#}{else}{$modules_feedback_receivername}{/if}, 
 
{#_FEEDBACKTEXT1#} {if $modules_feedback_senderid ne "no"} {#_FEEDBACKREGISTERUSER#} "{$modules_feedback_sendername}" (id:{$modules_feedback_senderid}){else} {#_FEEDBACKUNREGISTERUSER#} "{$modules_feedback_sendername}"{/if} {#_FEEDBACKTEXT2#} {$modules_feedback_siteurl} 
 
----------------------------------------- 
{#_FEEDBACKTEXT3#} 
----------------------------------------- 
 
modules_feedback_message 
 
{#_FEEDBACKTEXT4#}: {$modules_feedback_senderip} 
 
----------------------------------------- 
{#_NOTES#} {#_FEEDBACKNOTESTEXT#} 
 


{#_FEEDBACKTEXT5#}, 
{#_FEEDBACKTEXT6#} {$modules_feedback_siteurl}
{/nocache}