{literal}
<script type="text/javascript">
function image_reload()
 {
   document.images['captcha'].src='/{/literal}{$system_dir}{literal}captcha/index.php?rnd='+Math.round(Math.random(0)*1000);

 }
</script>
{/literal}
<br>
<br>
<center>
<img src="/{$system_dir}{#bgimage18#}" border="0" alt=""> <span class="title">{#_ACCOUNTLOSTPASSFORMTITLE#}</span><br><br><br>
<span class="textbig">{#_ACCOUNTNEWPASSCONFIRMTEXT#}</span>
<br><br>
<form action="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/account/{else}/{$system_dir}index.php?path=account&amp;lang={$site_language}{/if}" method="POST">
{nocache}
<input type="hidden" name="modules_account_confcode" value="{$modules_account_confcode}">
<input type="hidden" name="func" value="account_newpassconf">
{if $enter_check ne "no"}
<table border="0" cellspacing="2"  cellpadding="0">
<tr align="left">
<td bgcolor="{#color7#}" class="td1"><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_ACCOUNTSECRETNUM2#}:</span><span class="errorsmall">*</span></td><td bgcolor="{#color7#}" class="td2">
 <img src="/{$system_dir}captcha/index.php" border='1' alt="" id="captcha"> &nbsp;<a href="javascript:image_reload();" class="link">{#_ACCOUNTCAPTCHAUPDATE#}</a><br>
 <input type="text" name="captcha" size="11" maxlength="6" class="formenter">
</td>
</tr>
</table>
{/if}
<br>
<input type="submit" value="{#_ACCOUNTBUTTONCONFIRM#}" class="button">
</form>
<br>
{if $enter_check ne "no"}
<table border="0" width="99%" cellspacing="0"  cellpadding="0"><tr><td align="left"><img src="/{$system_dir}{#bgimage16#}" border="0" alt=""><span class="text">{#_NOTES#}{#_NOTES1#}</span>&nbsp;<span class="errorsmall">*</span>&nbsp;<span class="text">{#_NOTES2#}</span></td></tr></table>
{/if}
{/nocache}
</center><br>