{config_load file="$language/modules/account/account.conf"}
<br>
<center>
{foreach $systempage_all as $systempage_all_tpl}
<img src="/{$system_dir}{#bgimage18#}" alt="">&nbsp;<span class="title">{$systempage_all_tpl.systempage_title}</span><br><br><br>
<table border="0" cellspacing="2"  cellpadding="0" width="99%">
 <tr align="left">
 <td class="textbig">
{$systempage_all_tpl.systempage_content}
</td>
</tr>
</table>
<br><br>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="right">
<form action="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/account/account_register/{else}/{$system_dir}index.php?path=account&amp;func=account_register&amp;lang={$site_language}{/if}" method="POST">
<input type="hidden" name="register_rules_accept" value="yes">
<input type="submit" value="{#_ACCOUNTREGISTERRULESACCEPT#}" class="button">
</form>
</td>
<td align="left">
<form action="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/account/account_register/{else}/{$system_dir}index.php?path=account&amp;func=account_register&amp;lang={$site_language}{/if}" method="POST">
<input type="hidden" name="register_rules_accept" value="no">
<input type="submit" value="{#_ACCOUNTREGISTERRULESNOTACCEPT#}" class="button">
</form>
</td>
</tr>
</table>
{/foreach}
</center>
<br><br>