{config_load file="$language/modules/account/account.conf"}
{config_load file="$language/systemadmin/modules/users/users.conf"}
<br>
<center>
<img src="/{$system_dir}{#bgimage18#}" alt="">&nbsp;<span class="title">{#_ACCOUNTTITLE#}</span><br><br>
<span class="text">{#_ACCOUNTHELLO#}, {$user_name}!
</span><br><br>
{foreach $user_all as $user_all_tpl}
<table border="0" cellspacing="2"  cellpadding="0" width="30%">
 <tr align="left">
 <td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERNAME#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_name ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_name}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERSURNAME#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_surname ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_surname}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERWEBSITE#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_website ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_website}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USEREMAIL#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_email ne ""}<a href="mailto:{$user_all_tpl.user_email}" class="link">{$user_all_tpl.user_email}</a>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERLOGIN#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_login ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_login}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERCOUNTRY#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_country ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_country}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERCITY#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_city ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_city}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERADDRESS#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_address ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_address}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERTELEPHONE#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_telephone ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_telephone}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERICQ#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_icq ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_icq}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERGMT#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_gmt ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_gmt} GMT</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERNOTES#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_notes ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_notes}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERSTATUS#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%"nowrap><span class="tablecenterblocktext2">{if $user_all_tpl.user_active eq "1"}{#_USERACTIVE#}{elseif $user_all_tpl.user_active eq "0"}{#_USERNOTACTIVE#}{/if}</span></td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERACTIVENOTES#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_activenotes ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_activenotes}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERREGDATE#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap>{if $user_all_tpl.user_regdate ne ""}<span class="tablecenterblocktext2">{$user_all_tpl.user_regdate}</span>{/if}</td>
</tr>
<tr align="left">
<td bgcolor="{#color7#}" class="td1" nowrap><img src="/{$system_dir}{#bgimage15#}" border="0" alt="">&nbsp;<span class="formentername">{#_USERMAILVISIBLE#}:</span></td><td bgcolor="{#color7#}" class="td2" width = "90%" nowrap><span class="tablecenterblocktext2">{if $user_all_tpl.user_viewemail eq "1"}{#_USERMAILVISIBLEON#}{elseif $user_all_tpl.user_viewemail eq "0"}{#_USERMAILVISIBLEOFF#}{/if}</span></td>
</tr>
</table>
{/foreach}
<br>
<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/account/account_edit/{else}/{$system_dir}index.php?path=account&amp;func=account_edit&amp;lang={$site_language}{/if}" class="link">{#_ACCOUNTCHANGE#}</a> | <a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/account/account_logout/{else}/{$system_dir}index.php?path=account&amp;func=account_logout&amp;lang={$site_language}{/if}" class="link">{#_ACCOUNTLOGOUT#}</a>
</center>
<br><br>