<br>
<center><img src="/{$system_dir}{#bgimage25#}" alt="">&nbsp;<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/add/{else}/{$system_dir}index.php?path=guestbook&amp;func=add&amp;lang={$site_language}{/if}" class="linkbig">{#_GUESTBOOK_MODULE_ADDPOST#}</a></center>
<br>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
 <tr bgcolor="{#color8#}">
  <td height="17"> <img src="/{$system_dir}{#bgimage18#}" alt=""> <span class="tablecenterblocktext"><u>{#_GUESTBOOK_MODULE_TITLE#}</u></span></td>
 </tr>
</table>
{if $guestbook_posts_all ne "no"}
{foreach $guestbook_posts_all as $guestbook_posts_all_tpl}
<br><br>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
 <tr bgcolor="{#color7#}">
  <td width="100%" height="17" nowrap><img src="/{$system_dir}{#bgimage14#}" border="0" width="14" height="14" alt=""><span class="tablenamecenterblock"> {$guestbook_posts_all_tpl.post_user_name}</span></td><td align="right" nowrap><span class="leftrightblocktext">{#_GUESTBOOK_MODULE_DATEWRITE#}: [{$guestbook_posts_all_tpl.post_date}]</span></td>
 </tr>
 <tr>
  <td colspan="2" class="text">
    {if $guestbook_posts_all_tpl.post_user_id ne 0}{if $admin eq "yes"}<a href="/{$system_dir}{$admin_folder}index.php?path=admin_users&amp;func=user_edit&amp;user_id={$guestbook_posts_all_tpl.post_user_id}&amp;lang={$site_language}" target="_blank" title="{#_GUESTBOOK_MODULE_USERLINKTITLE#}" class="link">{/if}{#_GUESTBOOK_MODULE_REGISTEREDUSER#}{if $admin eq "yes"}</a>{/if}; {/if}{if $guestbook_posts_all_tpl.post_user_country ne "no"}{#_GUESTBOOK_MODULE_USERCOUNTRY#}: {$guestbook_posts_all_tpl.post_user_country};{/if}  {if $guestbook_posts_all_tpl.post_user_city ne "no"}{#_GUESTBOOK_MODULE_USERCITY#}: {$guestbook_posts_all_tpl.post_user_city};{/if}
    {if $guestbook_posts_all_tpl.post_show_email eq '1' or $admin eq "yes"}{#_GUESTBOOK_MODULE_USEREMAIL#}: <a href="mailto:{$guestbook_posts_all_tpl.post_user_email}">{$guestbook_posts_all_tpl.post_user_email}</a>;{/if} {if $guestbook_posts_all_tpl.post_user_telephone ne "no" and ($guestbook_posts_all_tpl.post_show_telephone eq '1' or $admin eq "yes")}{#_GUESTBOOK_MODULE_USERTELEPHONE#}: {$guestbook_posts_all_tpl.post_user_telephone}{/if}
  </td>
 </tr>
 <tr>
  <td colspan="2" class="textbig">
    <br>
    {$guestbook_posts_all_tpl.post_text}<br><br>
    {if $guestbook_posts_all_tpl.post_unswer ne "no"}<img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;{#_GUESTBOOK_MODULE_POSTUNSWER#} [{$guestbook_posts_all_tpl.post_unswer_date}]: {$guestbook_posts_all_tpl.post_unswer}{/if}
  </td>
 </tr>
 <tr bgcolor="{#color7#}">
  <td width="100%" height="17" nowrap>&nbsp;</td><td align="right" nowrap>{if $admin eq "yes"}<span class="leftrightblocktext">{#_GUESTBOOK_MODULE_SENDERIP#}: [{$guestbook_posts_all_tpl.post_user_ip}] </span>{/if}</td>
 </tr>
</table>
{/foreach}
{else}
<br><br><center><img src="/{$system_dir}{#bgimage28#}" alt="">&nbsp;<span class="messagebig">{#_GUESTBOOK_MODULE_NOPOSTS#}</span></center><br><br>
{/if}
<br><br>
{if $html ne "no"}
<table width="100%" cellpadding="0" cellspacing="2" border="0">
 <tr>
  <td><center><span class="tablecenterblocktext2">{#_GUESTBOOK_MODULE_POSTSTOTAL#}:{$guestbook_total_posts} ({#_GUESTBOOK_MODULE_POSTSPAGES#}:{$num_pages})</span></center></td>
 </tr>
</table>
<center>{if $prevpage ne "no"}<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/page/{$prevpage}/{else}/{$system_dir}index.php?path=guestbook&amp;num_page={$prevpage}&amp;lang={$site_language}{/if}" title="{#_GUESTBOOK_MODULE_POSTSPREVPAGE#}" class="link"><img src="/{$system_dir}{#bgimage19#}" border="0" alt="{#_GUESTBOOK_MODULE_POSTSPREVPAGE#}"></a> {/if}
{foreach $html as $html_tpl}
{if $html_tpl.param1 eq "1"} <span class="tablecenterblocktext2">[{$html_tpl.number}]</span> {elseif $html_tpl.param1 eq "2"} <a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/page/{$html_tpl.number}/{else}/{$system_dir}index.php?path=guestbook&amp;num_page={$html_tpl.number}&amp;lang={$site_language}{/if}" class="link">[{$html_tpl.number}]</a> {elseif $html_tpl.param1 eq "3"} ...<a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/page/{$html_tpl.number}/{else}/{$system_dir}index.php?path=guestbook&amp;num_page={$html_tpl.number}&amp;lang={$site_language}{/if}" class="link">[{$html_tpl.number}]</a> {elseif $html_tpl.param1 eq "4"} <a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/page/{$html_tpl.number}/{else}/{$system_dir}index.php?path=guestbook&amp;num_page={$html_tpl.number}&amp;lang={$site_language}{/if}" class="link">[{$html_tpl.number}]</a>... {/if}
{/foreach}
{if $nextpage ne "no"} <a href="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/guestbook/page/{$nextpage}/{else}/{$system_dir}index.php?path=guestbook&amp;num_page={$nextpage}&amp;lang={$site_language}{/if}" title="{#_GUESTBOOK_MODULE_POSTSNEXTPAGE#}" class="link"><img src="/{$system_dir}{#bgimage20#}" border="0" alt="{#_GUESTBOOK_MODULE_POSTSNEXTPAGE#}"></a>{/if}</center>
{/if}<br>