{if !empty($organization_name) or !empty($organization_id)}<table border="0" width="99%" cellspacing="0"  cellpadding="0"><tr><td align="right"><span class="textbig">{if !empty($organization_name)}{#_QUESTIONNAIRES_ORGANIZATION_NAME_TITLE#}: {$organization_name}{if !empty($organization_id)},{/if}{/if} {if !empty($organization_id)}{#_QUESTIONNAIRES_ORGANIZATION_ID_TITLE#}: {$organization_id}{/if}</span></td></tr></table>{else}<br>{/if}
<div align="center">
    <b><span class="title">{$questionnaire_name}</span></b><br><span class="textbig">({$questionnaire_date})<br>{#_QUESTIONNAIRES_MODULE_GROUP#}: "{$group_name}"</span><br><br>
    <form action="{if $system_mod_rewrite == "yes"}/{$system_dir}{$site_language}/questionnaires/{else}/{$system_dir}index.php?path=questionnaires&amp;lang={$site_language}{/if}" method="POST">
        <input type="hidden" name="func" value="vote">
        <input type="hidden" name="questionnaire_id" value="{$questionnaire_id}">
        <input type="hidden" name="group_id" value="{$group_id}">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="2">
                        {foreach $questions as $questions_tpl}
                        <tr align="left">
                            <td bgcolor="{#color7#}" colspan="2">&nbsp;<span class="formentername">{$questions_tpl.question_priority}. {$questions_tpl.question_title}:</span>{if $questions_tpl.question_obligatory}<span class="errorsmall">*</span>{/if}</td>
                        </tr>
                        {if $questions_tpl.question_items ne "no"}
                            {foreach $questions_tpl.question_items as $question_items_tpl}
                                <tr>
                                    <td bgcolor="{#color7#}" align="left">&nbsp;<span class="formentername">- {$question_items_tpl.question_item_priority}. {$question_items_tpl.question_item_title} </span></td>
                                    <td bgcolor="{#color7#}" align="center" nowrap>
                                    {if $questions_tpl.type_id eq "1" or $questions_tpl.type_id eq "4"}
                                        <input type="checkbox" name="question_{$questions_tpl.question_id}[{$question_items_tpl.question_item_id}]" value="{$question_items_tpl.question_item_id}">
                                    {elseif $questions_tpl.type_id eq "2" or $questions_tpl.type_id eq "5"}
                                        <input name="question_{$questions_tpl.question_id}" type="radio" value="{$question_items_tpl.question_item_id}">
                                    {elseif $questions_tpl.type_id eq "3" or $questions_tpl.type_id eq "6"}
                                        <input name="question_{$questions_tpl.question_id}[{$question_items_tpl.question_item_id}]" type="hidden" value="{$question_items_tpl.question_item_id}">
                                        <select name="question_answer_{$questions_tpl.question_id}[{$question_items_tpl.question_item_id}]"><option value="">{#_QUESTIONNAIRES_MODULE_SELECT#}...</option>
                                        {if $questions_tpl.question_answers ne "no"}
                                            {foreach $questions_tpl.question_answers as $question_answers_tpl}
                                            <option value="{$question_answers_tpl.question_answer_id}">{$question_answers_tpl.question_answer}</option>
                                            {/foreach}
                                        {/if}
                                        </select>
                                    {/if}
                                    </td>
                                </tr>
                            {/foreach}
                        {/if}
                        {if $questions_tpl.type_id eq "4" or $questions_tpl.type_id eq "5" or $questions_tpl.type_id eq "6" or $questions_tpl.type_id eq "7"}
                            <tr align="left">
                                <td bgcolor="{#color7#}">&nbsp;{if $questions_tpl.question_subtext ne ""}<span class="formentername">{$questions_tpl.question_subtext}</span>{/if}</td><td bgcolor="{#color7#}" align="center" nowrap><textarea name="question_text_{$questions_tpl.question_id}" rows="4" cols="30"></textarea></td>
                            </tr>
                        {/if}
                        {/foreach}
                    </table>
                </td>
            </tr>
        </table><br>
    <table border="0" width="99%" cellspacing="0"  cellpadding="0"><tr><td align="left"><img src="/{$system_dir}{#bgimage16#}" border="0" alt=""><span class="text">{#_NOTES#}{#_QUESTIONNAIRES_OBLIGATORY_QUESTION#}</span>&nbsp;<span class="errorsmall">*</span>&nbsp;<span class="text">{#_NOTES2#}</span></td></tr></table>
    {if isset($systemdk_questionnaires_who_can_vote) and $systemdk_questionnaires_who_can_vote eq 'only_users'}<table border="0" width="99%" cellspacing="0"  cellpadding="0"><tr><td align="left"><img src="/{$system_dir}{#bgimage16#}" border="0" alt=""><span class="text">{#_NOTES#}{#_QUESTIONNAIRES_ONLY_USERS_CAN_VOTE#}</span></td></tr></table>{/if}
    <br><center><input type="submit" value="{#_QUESTIONNAIRES_MODULE_BUTTON_VOTE#}" class="button"></center>
    </form>
</div>
<br><br>