<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset={$site_charset}">
<META NAME="KEYWORDS" CONTENT="{$site_keywords}">
<META NAME="DESCRIPTION" CONTENT="{$site_description}">
<TITLE>{$site_name}</TITLE>
<LINK REL="SHORTCUT ICON" HREF="../themes/systemdk/images/favicon.ico" TYPE="image/x-icon">
<LINK REL="StyleSheet" HREF="../themes/systemdk/css/style.css" TYPE="text/css">
</head>
{config_load file="theme.conf"}
<body bgColor="{#color3#}" style="margin: 0">
<div style="width:100%; height:70px; background-image:url(../{#bgimage1#}); background-color:{#color3#};">
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
 <tr>
   <td width="15%"><img src="../{#bgimage23#}" border="0" align="left" alt=""></td>
   <td width="65%"><center>{if $site_logo ne ""}<img src="../themes/systemdk/images/{$site_logo}" border="0" alt="">{/if}<br><span class="remarks">{nocache}{$include_header_data_tpl}{/nocache}</span></center></td>
   <td width="5%" align="right" nowrap> {if $langlist ne "no" and $display_adminsite_lang eq "yes"}<span class="remarks">Site:</span> {foreach $langlist as $langlist_tpl}{if $langlist_tpl.installed eq "yes"}{if $langlist_tpl.count_installed gt 0}<span class="remarks">|</span>{/if}<a href="index.php?lang={$langlist_tpl.name}" class="remarks">{if $site_language ne $langlist_tpl.name}<u>{/if}{$langlist_tpl.name|capitalize}{if $site_language ne $langlist_tpl.name}</u>{/if}</a>{/if}{/foreach}{/if}<br>
   {if $langlist ne "no" and $display_adminint_lang eq "yes"}<span class="remarks">Interface:</span> {foreach $langlist as $langlist_tpl}{if $langlist_tpl.item gt 0}<span class="remarks">|</span>{/if}<a href="index.php?lang={$site_language}&amp;ilang={$langlist_tpl.name}" class="remarks">{if $language ne $langlist_tpl.name}<u>{/if}{$langlist_tpl.name|capitalize}{if $language ne $langlist_tpl.name}</u>{/if}</a>{/foreach}{/if}
   </td>
   <td width="15%"><img src="../{#bgimage24#}" border="0" align="right" alt=""></td>
 </tr>
</table>
</div>
<div style="width:100%; background-image:url(../{#bgimage2#}); height:20px; background-color:{#color3#};">
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
 <tr>
   <td width="10%">&nbsp;</td>
   <td width="80%">&nbsp;</td>
   <td width="10%">&nbsp;</td>
 </tr>
</table>
</div>
<br><br>
{literal}
<script type="text/javascript">
function image_reload()
 {
   document.images['captcha'].src='../captcha/index.php?rnd='+Math.round(Math.random(0)*1000);

 }
</script>
{/literal}
{nocache}
{config_load file="$language/systemadmin/enter.conf"}
{/nocache}
<table border="0" cellspacing="0" cellpadding="0" align="center">
 <tr>
   <td>
   <center><img src="../{#bgimage18#}" alt=""> <span class="title">{#_ADMINENTERFORM#}</span></center><br>
   <form action="index.php?lang={$site_language}" method="post">
   <center><span class="formentername">{#_ADMINLOGIN#}:</span><br> <input type="text" name="admin_login" size="25" maxlength="25" class="formenter"></center>
   <center><span class="formentername">{#_ADMINPASSWORD#}:</span><br> <input type="password" name="admin_password" size="25" maxlength="25" class="formenter"></center>
   {nocache}
   {if $enter_check ne "no"}
   <span class="formentername">{#_ADMINSECRETNUM#}:</span> <img src="../captcha/index.php" border='1' alt="" id="captcha"> &nbsp;<a href="javascript:image_reload();" class="link">{#_CAPTCHAUPDATE#}</a><br> 
   <span class="formentername">{#_ADMINSECRETNUMENTER#}:</span> <input type="text" name="captcha" size="11" maxlength="6" class="formenter"><br><br>
   {/if}
   {/nocache}
   <input type="hidden" name="func" value="mainadmin">
   <center><input type="submit" value="{#_ENTER#}" class="button"></center>
   </form>
   </td>
 </tr>
</table>
</body>
</html>